# Primeiros Exemplos

In [17]:
print('Primeiro Programa')
1 \
 + 2
help(print)

Primeiro Programa
Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [18]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [19]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo a minha lingua!!!!')
print("TBM funciona")
print('Você é '+ 3 *  'muito' +  'legal!')
#print(3 + '3') -> anbiguidade
print([1, 2, 3])
print({'nome': 'Pedro','idade': 22})
print(None)

True
False
2.2
Aqui eu falo a minha lingua!!!!
TBM funciona
Você é muitomuitomuitolegal!
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [20]:
a = 10
b = 5.2
print(a + b)
a = 'Agora eu sou uma string'
print(a)
a
b

15.2
Agora eu sou uma string

5.2

# Comentarios

In [21]:
# vkjbds
# jndvjlfsnvljçna
# lfnvljçafjldnvljosdfçouj
# minhas variáveis
salario = 3450.45
despesas = 2456.2
""" a idéia é calcular quanto
vai sobre no final do mês
"""
print(salario - despesas)

# print('FIM')
print('Fim de verdade') #comentario aqui também vale!!!

''' a idéia é calcular quanto
vai sobre no final do mês
'''
print('Agora sim o fim de verdade') #comentario aqui também vale!!!

994.25
Fim de verdade
Agora sim o fim de verdade

# Operadores Aritiméticos

In [22]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3)
print(2 ** 8)
print(10 % 3)
a = 12
b = a
print(a + b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

# Operadores Relacionais

In [23]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '3'# int + uma string

False

# Operadoes de Atribuição

In [24]:
a = 3
a = a + 7
print (a)
a +=5
print(a)
a -= 3
print(a)
a *= 2
print(a)
a /= 4
print(a)
a %= 4
print(a)
a **= 8
print(a)
a //= 256
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [25]:
True or False
7 != 3 and 2 > 3

# Tabela da verdade do AND

True and True
True and False
False and True
False and False
True and True and True and True and True and True
True and True and True and False and True and True

# Tabela da verdade do OR
True or True
True or False
False or True
False or False
False or False or True or False or False or False

# tabela da verdade XOR
True != True
True != False
False != True
False != False

# Operador de negação (unário)
not True
not False
not 0
not 1
not not -1
not not True

# cuidado!
True & True
False | True
True ^ False

True

# Operadores Unários

In [26]:
a = 3
# a++
# a +=1
# a
# a--
++a
++a
-a
+a

not 0
not 1
not -2
not False
not not True

True

# Operadores Ternários

In [27]:
estaChovendo = True
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[estaChovendo])
estaChovendo = False
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[estaChovendo])
estaChovendo = True
print('Hoje estou com as roupas ' + ('molhadas.' if estaChovendo else 'secas.'))
estaChovendo = False
print('Hoje estou com as roupas ' + ('molhadas.' if estaChovendo else 'secas.'))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas secas.
Hoje estou com as roupas molhadas.
Hoje estou com as roupas secas.

# Mais Operadores

In [28]:
# Operadores de Menbros

lista = [1, 2, 3, 'Ana', 'Carla']
print(2 in lista)
print('Ana' not in lista)

# Operadores de Identidade
x = 3 
y = x
z = 3

print(x is y)
print(y is z)
print(x is not z)

listaA = [1, 2, 3]
listaB = listaA
listaC = [1, 2, 3]

print(listaA is listaB)
print(listaB is listaC)
print(listaA is not listaC)

True
False
True
True
False
True
False
True

# Builtins

In [29]:
# type()
type(1)
__builtins__.type('Fala galera!!!')
__builtins__.print(10 / 3)

# help(dir)
# vai mostrar o que tem no escopo global
# dir()

# __builtins__.help(__builtins__.dir)

# a = 7
# import math
# dir()
# dir(__builtins__)

nome = ("João da Silva")
type(nome)
__builtin__.len(nome)
dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '_10',
 '_13',
 '_15',
 '_16',
 '_20',
 '_23',
 '_25',
 '_26',
 '_4',
 '_7',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'despesas',
 'estaChovendo',
 'exit',
 'get_ipython',
 'lista',
 'listaA',
 'listaB',
 'listaC',
 'nome',
 'open',
 'quit',
 'salario',
 'x',
 'y',
 'z']

# CONVERSÃO DE TIPOS

In [30]:
print(2 + 3)
print("2" + "3")
# print(2 + "3")
a = 2 
b = '3'
print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

print(type(str(a)))
print(2 + float('3.4'))
print(2 + int('3.4'))

5
23
<class 'int'>
<class 'str'>
5
23
<class 'str'>
5.4

ValueError: invalid literal for int() with base 10: '3.4'

# Coeção automática

In [39]:
10 / 2
type(10 / 2)
10 / 3
10 // 3 
type(10//3)
10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

float

# Tipos Numeros #01

In [27]:
dir(int)
dir(float)

a = 5
b = 2.5
print(a / b)
print(a + b)
print(a * b)
print(type(a)) 
print(type(b)) 
print(type(a - b)) 

print(b.is_integer()) 
print(5.0.is_integer())

dir(int)
print(int.__add__(2, 3))
print(2 + 3)

print((-2).__abs__())
print(abs(-2))
print(type(-2))

print((-3.6).__abs__())
dir(float)
print(abs(-3.6))

2.0
7.5
12.5
<class 'int'>
<class 'float'>
<class 'float'>
False
True
5
5
2
2
<class 'int'>
3.6
3.6

# Tipos Numeros #02

In [41]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
print(Decimal(1) / Decimal(7))

getcontext().prec = 4
print(Decimal(1) / Decimal(7))
dir(Decimal)

print(1.1 + 2.2)
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)
# dir()

0.1428571429
0.1429
3.3000000000000003

Decimal('3.300000000')

# Strings #01

In [80]:
dir(str)
nome = 'Saulo Pedro'
print(nome)
print(nome[0])
# Print(nome[0] = 'P')

# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila'
texto = 'Texto entre apostrófos pode ter "aspas"'
print("Teste \" funciona!")
print(texto)

doc = """Texto com múltiplas
... linhas"""
print(doc)
print("""Texto com múltiplas\n\t... linhas""")
doc2 = '''Também é possível
... com 3 aspas simples'''
print(doc2)

Saulo Pedro
S
Teste " funciona!
Texto entre apostrófos pode ter "aspas"
Texto com múltiplas
... linhas
Texto com múltiplas
	... linhas
Também é possível
... com 3 aspas simples
A
u
u
Paula
Paula
Ana
a P
1234567890
1234567890
13579
24680
0987654321
08642
aluaP anA

# Strings #02

In [81]:

nome = 'Ana Paula'
print(nome[0])
print(nome[6])
print(nome[-3])
print(nome[4:])
print(nome[-5:])
print(nome[:3])
print(nome[2:5])

numeros = "1234567890"
print(numeros)
print(numeros[::])
print(numeros[::2])
print(numeros[1::2])
print(numeros[::-1])
print(numeros[::-2])
print(nome[::-1])

A
u
u
Paula
Paula
Ana
a P
1234567890
1234567890
13579
24680
0987654321
08642
aluaP anA

# Strings #03

In [100]:
frase = 'Python é uma linguagem excelente'
print('py' in frase)
print('ing' in frase)
print(len(frase))
print(frase.lower())
print(frase)
frase = frase.upper()
print(frase)

print(frase.split())
print(frase.split('A'))
print(frase.split('E'))

False
True
32
python é uma linguagem excelente
Python é uma linguagem excelente
PYTHON É UMA LINGUAGEM EXCELENTE
['PYTHON', 'É', 'UMA', 'LINGUAGEM', 'EXCELENTE']
['PYTHON É UM', ' LINGU', 'GEM EXCELENTE']
['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

# Strings #04

In [111]:
a = '123'
b = ' de Oliveira 4'
print(a + b)
print(a.__add__(b))
str.__add__(a, b)
# dir(str)
print(a.__len__())
print('1' in a)
print(a.__contains__('1'))

123 de Oliveira 4
123 de Oliveira 4
3
True
True

# Listas #01

In [128]:
lista = []
print(type(lista))
dir(lista)
# help(list)
print(len(lista))
lista.append(1)
lista.append(5)
print(lista)
print(len(lista))
novaLista = [1, 5, 'Ana', 'Bia']
print(novaLista)
novaLista.remove(5)
print(novaLista)
novaLista.reverse()
print(novaLista)

<class 'list'>
0
[1, 5]
2
[1, 5, 'Ana', 'Bia']
[1, 'Ana', 'Bia']
['Bia', 'Ana', 1]

# Listas #02

In [143]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
print(lista.index('Guilherme'))
# print(lista.index(42))
print(lista[2])
print(1 in lista)
print('Rebeca' in lista)
print('Pedro'not in lista)
print(lista[0])
print(lista[4])
# print(lista[5])
print(lista[-1])
print(lista[-5])

3
Rebeca
True
True
True
1
3.1415
3.1415
1

#Listas #3

In [153]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
print(lista)
print(lista[1:3])
print(lista[1:-1])
print(lista[1:])
print(lista[:-1])
print(lista[:])
print(lista[::2])
print(lista[::-1])
del lista[2]
print(lista)
del lista[1:]
print(lista)

['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
['Lia', 'Rui']
['Lia', 'Rui', 'Paulo']
['Lia', 'Rui', 'Paulo', 'Dani']
['Ana', 'Lia', 'Rui', 'Paulo']
['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
['Ana', 'Rui', 'Dani']
['Dani', 'Paulo', 'Rui', 'Lia', 'Ana']
['Ana', 'Lia', 'Paulo', 'Dani']
['Ana']

# Tuplas

In [170]:
tupla = tuple()
tupla = ()
print(type(tupla))
dir(tupla)
# help(tuple)
# tupla = ('um')
# type(tupla)
tupla = ('um', )
print(type(tupla))
print(tupla[0])
# tupla[0] = "novo"
cores = ('Verde', 'amarelo', 'azul', 'branco')
print(cores[0])
print(cores[-1])
print(cores[1:])

print(cores.index('amarelo'))
print(cores.count('azul'))
print(cores.count('Azul'))
print(len(cores))

<class 'tuple'>
<class 'tuple'>
um
Verde
branco
('amarelo', 'azul', 'branco')
1
1
0
4

# Dicionário #01

In [188]:
pessoa = {'nome': 'prof(a).Ana', 'idade':38, 'curso':('Inglês', 'Português') }
print(type(pessoa))
dir(dict)
# help(dict)
print(len(pessoa))

print(pessoa)
print(pessoa['nome'])
print(pessoa['idade'])
print(pessoa['curso'])
print(pessoa['curso'][1])
# pessoa['tags']
print(pessoa.keys())
print(pessoa.values())
print(pessoa.items())
print(pessoa.get('idade'))
print(pessoa.get('tag'))
print(pessoa.get('tag', []))

<class 'dict'>
3
{'nome': 'prof(a).Ana', 'idade': 38, 'curso': ('Inglês', 'Português')}
prof(a).Ana
38
('Inglês', 'Português')
Português
dict_keys(['nome', 'idade', 'curso'])
dict_values(['prof(a).Ana', 38, ('Inglês', 'Português')])
dict_items([('nome', 'prof(a).Ana'), ('idade', 38), ('curso', ('Inglês', 'Português'))])
38
None
[]

# Dicionário #02

In [197]:
pessoa = {'nome': 'Prof.Alberto', 'idade': 43, 'cursos': ['React', 'python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
print(pessoa)
pessoa.pop('idade')
print(pessoa)
pessoa.update({'idade': 40, 'sexo':'M'})
print(pessoa)
del pessoa['cursos']
print(pessoa)
pessoa.clear()
print(pessoa)

{'nome': 'Prof.Alberto', 'idade': 44, 'cursos': ['React', 'python', 'Angular']}
{'nome': 'Prof.Alberto', 'cursos': ['React', 'python', 'Angular']}
{'nome': 'Prof.Alberto', 'cursos': ['React', 'python', 'Angular'], 'idade': 40, 'sexo': 'M'}
{'nome': 'Prof.Alberto', 'idade': 40, 'sexo': 'M'}
{}

# Conjuntos

In [214]:
a = {1, 2, 3}
print(type(a))
# a[0]
a = set('coddddd3r')
print(a)
print('3' in a, 4 not in a)
print({1, 2, 3,} == {3, 2, 1, 3})

# operacoes
c1 = {1, 2}
c2 = {2, 3}
print(c1.union(c2))
print(c1.intersection(c2))
c1.update(c2)
print(c1)
print(c2 <= c1)
print(c1 >= c2)
print({1, 2, 3,} - {2})
print(c1 - c2)
c1 -= {2}
print(c1)

<class 'set'>
{'r', 'o', 'c', '3', 'd'}
True True
True
{1, 2, 3}
{2}
{1, 2, 3}
True
True
{1, 3}
{1}
{1, 3}

# Interpolação

In [235]:
from string import Template
nome, idade = 'Ana', 30

print('Nome: %s Idade: %d %r %r' % (nome, idade, True, False)) #mais antiga menos usada
print('Nome: %s Idade: %d %s %s' % (nome, idade, True, False))
print('Nome: %s Idade: %d %d %d' % (nome, idade, True, False))
print('Nome: {0} Idade: {1}'.format(nome, idade)) # python < 3.6 antes dessa versão
print(f'Nome: {nome} Idade: {idade} {2 ** 8 + 1}')# python >= 3.6 a partir dessa versão

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30 True False
Nome: Ana Idade: 30 True False
Nome: Ana Idade: 30 1 0
Nome: Ana Idade: 30
Nome: Ana Idade: 30 257
Nome: Ana Idade: 30

: