# Primeiros Exemplos

In [ ]:
print('Primeiro Programa')
1 \
 + 2
help(print)

In [ ]:
print(1 + 2 + 3)
print(4 + 5 + 6)

# Tipos Básicos

In [ ]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo a minha lingua!!!!')
print("TBM funciona")
print('Você é '+ 3 *  'muito' +  'legal!')
#print(3 + '3') -> anbiguidade
print([1, 2, 3])
print({'nome': 'Pedro','idade': 22})
print(None)

# Variáveis

In [ ]:
a = 10
b = 5.2
print(a + b)
a = 'Agora eu sou uma string'
print(a)
a
b

# Comentarios

In [ ]:
# vkjbds
# jndvjlfsnvljçna
# lfnvljçafjldnvljosdfçouj
# minhas variáveis
salario = 3450.45
despesas = 2456.2
""" a idéia é calcular quanto
vai sobre no final do mês
"""
print(salario - despesas)

# print('FIM')
print('Fim de verdade') #comentario aqui também vale!!!

''' a idéia é calcular quanto
vai sobre no final do mês
'''
print('Agora sim o fim de verdade') #comentario aqui também vale!!!

# Operadores Aritiméticos

In [ ]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3)
print(2 ** 8)
print(10 % 3)
a = 12
b = a
print(a + b)

# Operadores Relacionais

In [ ]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '3'# int + uma string

# Operadoes de Atribuição

In [ ]:
a = 3
a = a + 7
print (a)
a +=5
print(a)
a -= 3
print(a)
a *= 2
print(a)
a /= 4
print(a)
a %= 4
print(a)
a **= 8
print(a)
a //= 256
print(a)

# Operadores Lógicos

In [ ]:
True or False
7 != 3 and 2 > 3

# Tabela da verdade do AND

True and True
True and False
False and True
False and False
True and True and True and True and True and True
True and True and True and False and True and True

# Tabela da verdade do OR
True or True
True or False
False or True
False or False
False or False or True or False or False or False

# tabela da verdade XOR
True != True
True != False
False != True
False != False

# Operador de negação (unário)
not True
not False
not 0
not 1
not not -1
not not True

# cuidado!
True & True
False | True
True ^ False

# Operadores Unários

In [ ]:
a = 3
# a++
# a +=1
# a
# a--
++a
++a
-a
+a

not 0
not 1
not -2
not False
not not True

# Operadores Ternários

In [ ]:
estaChovendo = True
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[estaChovendo])
estaChovendo = False
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[estaChovendo])
estaChovendo = True
print('Hoje estou com as roupas ' + ('molhadas.' if estaChovendo else 'secas.'))
estaChovendo = False
print('Hoje estou com as roupas ' + ('molhadas.' if estaChovendo else 'secas.'))

# Mais Operadores

In [ ]:
# Operadores de Menbros

lista = [1, 2, 3, 'Ana', 'Carla']
print(2 in lista)
print('Ana' not in lista)

# Operadores de Identidade
x = 3 
y = x
z = 3

print(x is y)
print(y is z)
print(x is not z)

listaA = [1, 2, 3]
listaB = listaA
listaC = [1, 2, 3]

print(listaA is listaB)
print(listaB is listaC)
print(listaA is not listaC)

# Builtins

In [25]:
# type()
type(1)
__builtins__.type('Fala galera!!!')
__builtins__.print(10 / 3)

# help(dir)
# vai mostrar o que tem no escopo global
# dir()

# __builtins__.help(__builtins__.dir)

# a = 7
# import math
# dir()
# dir(__builtins__)

nome = ("João da Silva")
type(nome)
__builtin__.len(nome)
dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_11',
 '_12',
 '_14',
 '_16',
 '_17',
 '_18',
 '_2',
 '_20',
 '_22',
 '_23',
 '_24',
 '_4',
 '_6',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__pandas',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'dataframe_columns',
 'dataframe_hash',
 'dtypes_str',
 'exit',
 'get_dataframes',
 'get_ipython',
 'getpass',
 'hashlib',
 'import_pandas_safely',
 'is_data_frame',
 'json',
 'math',
 'nome',
 'open',
 'quit']

# CONVERSÃO DE TIPOS

In [56]:
print(2 + 3)
print("2" + "3")
# print(2 + "3")
a = 2 
b = '3'
print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

print(type(str(a)))
print(2 + float('3.4'))
print(2 + int('3.4'))

5
23
<class 'int'>
<class 'str'>
5
23
<class 'str'>
5.4

ValueError: invalid literal for int() with base 10: '3.4'